framework: auto-detect
redirects: force
source https://nuget.org/api/v2/

nuget NUnit
nuget RhinoMocks
nuget roundhouse.sqlserver
nuget FSharp.Core
nuget ApprovalTests

github 15below/Build.Tools:V1.1