redirects: on
source https://api.nuget.org/v3/index.json

// Turn off redirects here to allow test runners to use their own versions
nuget NUnit 2.6.4 redirects: off
nuget NUnit.Runners 2.6.4 redirects: off
nuget RhinoMocks 3.6.0

github 15below/Build.Tools:paket