framework: auto-detect
redirects: force
strategy: min
source https://nuget.org/api/v2/

nuget NUnit
nuget RhinoMocks
nuget Newtonsoft.Json
nuget roundhouse.lib
nuget FSharp.Core
nuget StructureMap

github 15below/Build.Tools:V1.1