<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style type="text/css">
        .style1 {
            width: 100%;
        }

        .style2 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 class="style2">Simple Fields</h1>
    <table class="style1">
        <tr>
            <td>
                Field 0 (null value)
            </td>
            <td>
                &gt;&gt;&lt;&lt;
            </td>
        </tr>
        <tr>
            <td>
                Field 1 - string
            </td>
            <td>
                &gt;&gt;field1&lt;&lt;
            </td>
        </tr>
        <tr>
            <td>
                Field 2 - integer as string
            </td>
            <td>
                &gt;&gt;0&lt;&lt;
            </td>
        </tr>
        <tr>
            <td>
                Field 3 - integer
            </td>
            <td>
                &gt;&gt;0&lt;&lt;
            </td>
        </tr>
        <tr>
            <td>
                Field 4 - boolean
            </td>
            <td>
                &gt;&gt;True&lt;&lt;
            </td>
        </tr>
    </table>
</body>
</html>
