<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ensconce.ReportingServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Ensconce.ReportingServices.Properties.Settings>
            <setting name="FifteenBelow_Deployment_ReportingServices_SSRS2010_ReportingService2010"
                serializeAs="String">
                <value>http://reportingservices.yourserver.com:80/ReportServer_INSTANCE/ReportService2010.asmx</value>
            </setting>
        </Ensconce.ReportingServices.Properties.Settings>
    </applicationSettings>
</configuration>